StarterContent/
Saved/
Binaries/
Build/
Debug/
Intermediate/
DerivedDataCache/
UnrealHeaderTool/
UnrealPak/
obj/
*.VC.opendb
*.opensdf
*.sdf
*.suo
maliputy/Content/Groundplain/NewMaterial.uasset
Battery/BatteryCollector.VC.db
Battery/Content/Game_elements.7z
